*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
release.keystore
keystore.properties
app/build/
landing/WaBro.apk
*.apk
.android/
.android-sdk/
.gradle-local/
.jdk/
